/* Cascading stylesheet for the web page "Kitchen Blue"
   Created by Harrison Kong
   Copyright (C) Coursera 2020 */



input {
  width: 30%;
}

label {
  color: white;
  font-size: 20px;
  text-align: left;
  text-shadow: 1px 1px 5px rgb(160, 42, 91);
  
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

p {
  color: #becbff;
  font-size: 1.2rem;
  text-align: center;
  text-shadow: 1px 1px 5px black;
}

h1 {
  color: white;
  text-shadow: 3px 3px 10px black;
}

li {
  color: #becbdd;
  font-size: 1rem;
}

a {
  color: white;
}

a:hover {
  color: rgb(245, 121, 4);
  text-decoration: underline overline;
}
.button:hover{
  color: rgb(8, 11, 238);
  padding-right: 20px;

}
.dropdown{
  background-color: rgb(79, 189, 28);
  color:rgb(138, 22, 22);
}
 .dropdown-menu{
 
  background-color: #29161d;
}
.button {
  margin: auto;
  width: 45%;
  padding:10px ;
  color:rgb(0, 0, 0);
  
}

.dish-image {
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgb(226, 35, 35);
  float:left;
  
}

.dish-image-div {
  margin-bottom: 1.2rem;
  
}

.dish-ingredients-div {
  color: rgb(225, 240, 16);
  margin: 3.50rem auto 3.5rem auto;
 font-size:15px;
  max-width: 50%;
}

.dish-title-div {
  border: 1px solid #18d4ec;
  font-size: 1.5rem;
  margin: auto;
  font-size:20px;
  max-width: 88%;
  text-shadow: 3px 3px 10px black;
}

.hero {
  width: 100%;
}

.section-heading {
  font-size: 3.3em;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.section-subheading {
  color:rgb(255, 0, 98);
  font-size: 5em;
  
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  text-shadow: 3px 3px 10px black;
}

.section-description {
  margin-bottom: 3rem;
  text-align: center;
}

.section-divider {
  margin: 2rem auto;
  opacity: 0.75;
  text-align: center;
}

.section-divider img {
  height: auto;
  width: 90%;
}

.subsection-divider {
  background-image: linear-gradient(to right, rgba(136, 159, 179, 0), rgba(136, 159, 179, 0.75), rgba(136, 159, 179, 0));
  border: 0;
  height: 1px;
  margin: 2rem 10%;
  width: 80%;
}

.subsection-heading {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  text-shadow: 3px 3px 10px black;
}

.textfield {
  margin: auto;
  width: 60%;
}

#query-form {
  margin: auto;
  max-width: 65%;
  
}

/* FOOTER
------------------------- */


/* RESPONSIVE ADJUSTMENTS
-------------------------------- */

/* ----- MEDIUM WIDE ----- */

@media only screen and (max-width: 767px) {

  .button {
    max-width: 100%;
  }

  .textfield {
    margin: auto;
    width: 90%;
  }

}
body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}
.dropdown li{
  color:goldenrod;
}
.dropdown-menu b{
  color:rgb(233, 14, 14);
  background-color: rgb(8, 235, 20);
  
}
 .header-list li{
  color:rgb(233, 14, 14);
  background-color: rgb(8, 235, 20);
 
  
}

.header {
  background-color: rgb(45, 154, 243);
  color: #fff;
  height: 90px;
}
.icon{
  
  float: left;
  font-size: 41px;
  padding: 18px 40px ;
  
}
.header-logo {
  float: left;
  font-size: 41px;
  padding: 14.5px 20px;
  color: rgb(0, 0, 0);
  background-color: #8a4bdd;
}
.header-logo span {
  color: #ff4a4a;
}

.header-list li {
  float: right;
  font-size:11px;
  color: rgb(45, 154, 243);
  background-color: #29161d;
  padding: 37px 15px;
 
}

.main {
  padding: 50px 50px;
}

.copy-container h1 {
  font-size: 110px;
}

.copy-container h2 {
  font-size: 60px;
}

.copy-container span {
  color: #ff4a4a;
}

.contents {
  height: 600px;
  margin-top: 260px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 35px;
  margin-bottom: 70px;
}


.contents-item {
  float: left;
  margin-right: 40px;
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}

.contact-form {
  padding-top: 100px;
  
}


input {
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
  
}
textarea {
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}


.contact-submit{
 background-color:#76dbdb;
 color:#010c02;
 width:400px;
 margin-top:10px;
 border:1px solid #dee7ec;
 padding:20px;
 font-size:18px;
}


.footer {
  background-color: #2f5167;
  color: #fff;
  height: 362px;
  padding: 40px;
}
.footer-logo span{
  color: #ff4a4a;
}
.footer-logo {
  float: left;
  font-size: 32px;
  
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
  color: rgb(45, 154, 243);
 
  font-size:15px
}
.footer-logo p{
  font-size:16px
  
}

    body {
      background-image: url('https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png');
      background-repeat: no-repeat;
      background-attachment: fixed; 
      background-size: 100% 100%;
    }
    
    
  * {box-sizing: border-box}
  body {font-family: Verdana, sans-serif; margin:0}
  .mySlides {display: none}
  img {vertical-align: middle;}
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 10s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    color:cornflowerblue;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(206, 12, 12, 0.8);
    color:chartreuse;
  }
  
  /* Caption text */
  .text {
    color: #8525df;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(6, 165, 238);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.1s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    
    -webkit-animation-duration: 150s;
    animation-name: fade;
    animation-duration: 150s;
    
  }
  
  @-webkit-keyframes fade {
    from {opacity: .15} 
    to {opacity: 15}
  }
  
  @keyframes fade {
    from {opacity: .8} 
    to {opacity: 8}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 200px) {
    .prev, .next,.text {font-size: 11px}
  }
 